        <aside class="sidebar">
            <ul class="nav-list">
                <li routerLink="/dashboard"><i class="pi pi-home"></i> <span class="nav-text">Dashboard</span></li>
                <li routerLink="/users"><i class="pi pi-user"></i> <span class="nav-text">User Management</span></li>
                <li routerLink="/customer"><i class="pi pi-id-card"></i> <span class="nav-text">Customer Management</span></li>
                <li routerLink="/category"><i class="pi pi-th-large"></i> <span class="nav-text">Category Management</span></li>
                <li routerLink="/product"><i class="pi pi-box"></i> <span class="nav-text">Product Management</span></li>
                <li routerLink="/inventory"><i class="pi pi-warehouse"></i> <span class="nav-text">Inventory Management</span></li>
                <li routerLink="/order"><i class="pi pi pi-receipt"></i> <span class="nav-text">Order Management</span></li>
                <li routerLink="/expense"><i class="pi pi pi-wallet"></i> <span class="nav-text">Expense Management</span></li>
                <li routerLink="/reports"><i class="pi pi pi-chart-bar"></i> <span class="nav-text">Reports</span></li>
            </ul>
        </aside>

